*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #fff3dd;
}

header{
	background-color: Teal;
	height: 6em;
	color: #FFF;
	margin-bottom: 1em;
	font-weight: 600;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	color: teal;
	font-size: 2em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 2px dotted dimgray;
	margin-bottom: .5em;
	font-family: sans-serif;
	font-weight: 600;
	margin-top: 20px;
}

table{
	width: 100%;
	margin-bottom : .5em;
  table-layout: fixed;
	border-radius: 15px;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 0.05em solid dimgray;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #5badad;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	font-weight: 700;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color: teal;
	border-color: darkslategray;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	/* margin-top: -1px; */
	border: 0;
	font-weight: 700;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin: 50px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-incorrecto{
	background-color: tomato;
	/* font-style: italic; */
	font-weight: 700;
}

footer {
	text-align: center;
	margin-top: 100px;
	font-family: monospace;
}